.pickerBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  inline-size: 100%;
  max-inline-size: 48rem;
  padding: 0.5rem;

  .title {
    user-select: none;

    inline-size: 100%;
    max-inline-size: 300px;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    border: 1px dashed olive;
    border-radius: 10px;

    text-align: center;
  }
}
