*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scrollbar-gutter: stable both-edges;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;

  :has(dialog:open) {
    overflow: hidden;
  }
}

.button,
.input {
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border: 1px solid olive;
  border-radius: 10px;

  font-family: inherit;
  font-size: 100%;
}

.button {
  cursor: pointer;
  background-color: ivory;
}

a {
  text-decoration: none;
}

dialog {
  opacity: 0;
  transition: all 0.5s;

  transition-behavior: allow-discrete;

  &::backdrop {
    opacity: 0;
    background-color: rgb(255 255 240 / 20%);
    backdrop-filter: blur(0);
    transition: all 0.5s allow-discrete;

    @starting-style {
      & {
        backdrop-filter: blur(0);
      }
    }
  }

  &[open] {
    opacity: 1;

    &::backdrop {
      opacity: 1;
      backdrop-filter: blur(3px);

      @starting-style {
        opacity: 0;
        backdrop-filter: blur(0);
      }
    }

    @starting-style {
      opacity: 0;
    }
  }
}
